<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h2 class="card-title">Thank You, Quirin!</h2>
                    <p class="card-text">Thank you for giving me the opportunity to showcase some of my skills.</p>
                    <img src="https://cdn.pixabay.com/photo/2018/02/12/16/41/thank-3148710_1280.png" alt="Thank You"
                        class="img-fluid my-4" style="max-width: 200px;">
                    <p class="card-text">I appreciate the time you've spent reviewing my task. I eagerly await your
                        feedback and look forward to the possibility of joining your team.</p>
                    <a href="/" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>