.custom-nav {
    background-color: #414546;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.custom-brand {
    color: #FFD701;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.custom-link {
    color: #FFD701;
    background-color: #414546;
}

.custom-btn {
    background-color: #FFD701;
    color: #414546;
}